* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 180px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.btn{
    display: flex;
    justify-content: space-around;
    width: 400px;
}

p{
    line-height: 50px;
    margin-bottom: 3%;
}
.home{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.home p{
    width: 600px;
    padding-top: 1%;
    }

    
.app p{
    width: 600px;
    padding-top: 1%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 2% 10%;
}
.logo{
    font-size: 40px;
}

.heading{
    font-size: 25px;
}

